/* Main common basic pages */
#sub-deserts, #sub-deserts-gold-and-power,#sub-deserts-life-in-the-desert,#sub-deserts-whats-a-desert,#sub-deserts-the-future-of-deserts,#sub-deserts-gold-and-power-fossil-fuels, #sub-deserts-gold-and-power-rocks-and-solar,#sub-deserts-gold-and-power-mineral-riches, #sub-deserts-life-in-the-desert-camels-cacti-and-critters, #sub-deserts-life-in-the-desert-camels-cacti-and-critters-escaping-the-heat, #sub-deserts-life-in-the-desert-camels-cacti-and-critters-water-miners,#sub-deserts-life-in-the-desert-camels-cacti-and-critters-water-storers, #sub-deserts-life-in-the-desert-camels-cacti-and-critters-water-little-or-none, #sub-deserts-life-in-the-desert-desert-cities, #sub-deserts-life-in-the-desert-nomadic-life, #sub-deserts-life-in-the-desert-precious-water, #sub-deserts-the-future-of-deserts-deserts-on-other-worlds, #sub-deserts-the-future-of-deserts-safeguarding-our-deserts, #sub-deserts-whats-a-desert-dunes-rocks-and-more, #sub-deserts-whats-a-desert-have-deserts-always-been-dry, #sub-deserts-whats-a-desert-why-do-we-have-deserts{
  background:url('images/9-12/The_Natural_World/Deserts/Deserts_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

/* Custom Pages Style */
#sub-deserts-whats-a-desert-where-are-our-deserts{
  background:url('images/9-12/The_Natural_World/Deserts/Whats_A_Desert/Where_Are_The_Deserts/Where_Are_The_Deserts_BG.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

/* Custom Pages Style Ends here */

/* Common Button Design */
.plDeserts, .psDeserts, .bDeserts, .fDeserts {
  position:absolute;
  top:670px;
  left:1024px;
  z-index:20;
}

.micbtnDeserts {
  background:url('images/9-12/The_Natural_World/micnat.png') no-repeat 0 -81px;
  height:81px;
  width:81px;
}

.rwDeserts {
  background:url('images/9-12/The_Natural_World/rwnat.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.plpsDeserts {
  background:url('images/9-12/The_Natural_World/playnat.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.fwDeserts {
  background:url('images/9-12/The_Natural_World/fwnat.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.menubtnDeserts {
  background:url('images/9-12/The_Natural_World/menunat.png') no-repeat 0 -90px;
  height:90px;
  width:90px;
}


.homebtnDeserts {
  background:url('images/9-12/The_Natural_World/mapnat.png') no-repeat 0 -74px;
  height:74px;
  width:80px;
}

.mpbtnDeserts {
  background:url('images/9-12/The_Natural_World/mpointsnat.png') no-repeat 0 -84px;
  height:79px;
  width:80px;
}

.cpbtnDeserts {
  background:url('images/9-12/The_Natural_World/ctrlpnlnat.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.infobtnDeserts {
  background:url('images/9-12/The_Natural_World/infonat.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.credsbtnDeserts {
  background:url('images/9-12/The_Natural_World/creditsnat.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}
/* Common Button Design Ends Here */


.navDeserts-content {
	position: absolute;
	left: 305px;
	top: 275px;
	width: 410px;
	height: 359px;
	overflow: auto;
	text-align: center;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

/* Some pages needs different style for text content */
.navDeserts-looingup {
	position: absolute;
	left: 305px;
	top: 346px;
	width: 410px;
	height: 275px;
	overflow: auto;
	text-align: center;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}


.navDesertsbtn1{
	left: 134px;
    position: absolute;
    top: 405px;
}

.navDesertsbtn2 {
    left: 394px;
    position: absolute;
    top: 435px;
}
.navDesertsbtn3 {
    left: 657px;
    position: absolute;
    top: 405px;
}

	.fossil-puzzles-the_fossil_formula{
		position: absolute;
		height: 100px;
		width: 93px;
		top: 290px;
		left: 238px;
	}
	.fossil-puzzles-the_language_of_the_past{
		position: absolute;
		height: 100px;
		width: 187px;
		top: 97px;
		left: 54px;	
	
	
	
			
	}
	.fossil-puzzles-a_fossils_tale{
		position: absolute;
		height: 100px;
		width: 93px;
		top: 389px;
		left: 511px;			
	}
	
	.geology-making_earth_cake{
		position: absolute;
		height: 280px;
		width: 440px;
		top: 296px;
		left: 548px;
	}
	.geology-layer_upon_layer{
		position: absolute;
		height: 50px;
		width: 325px;
		top: 471px;
		left: 85px;	
	}
	.geology-never_ending_sediments{
		position: absolute;
		height: 55px;
		width: 354px;
		top: 592px;
		left: 315px;	
	}	
	.rock-whispering-stick_around	{
		height:100px;
		width:100px;
		position:absolute;
	}
	.rock-whispering-stories_written_in_stone	{
		height:100px;
		width:100px;
		left:100px;
		position:absolute;
	}
	.rock-whispering-throught_the_lens{
		height:100px;
		width:100px;
		left:200px;
		position:absolute;
	}
/* Common Header Div Design */
#sub-deserts .bptitleholder, #sub-deserts-gold-and-power .bptitleholder,#sub-deserts-life-in-the-desert .bptitleholder,#sub-deserts-whats-a-desert .bptitleholder,#sub-deserts-the-future-of-deserts .bptitleholder, #sub-deserts-gold-and-power-fossil-fuels .bptitleholder,#sub-deserts-gold-and-power-rocks-and-solar .bptitleholder,#sub-deserts-gold-and-power-mineral-riches .bptitleholder, #sub-deserts-life-in-the-desert-camels-cacti-and-critters .bptitleholder, #sub-deserts-life-in-the-desert-camels-cacti-and-critters-escaping-the-heat .bptitleholder, #sub-deserts-life-in-the-desert-camels-cacti-and-critters-water-miners .bptitleholder,#sub-deserts-life-in-the-desert-camels-cacti-and-critters-water-storers .bptitleholder, #sub-deserts-life-in-the-desert-camels-cacti-and-critters-water-little-or-none .bptitleholder, #sub-deserts-life-in-the-desert-desert-cities .bptitleholder, #sub-deserts-life-in-the-desert-nomadic-life .bptitleholder,#sub-deserts-life-in-the-desert-precious-water .bptitleholder, #sub-deserts-the-future-of-deserts-deserts-on-other-worlds .bptitleholder, #sub-deserts-the-future-of-deserts-safeguarding-our-deserts .bptitleholder, #sub-deserts-whats-a-desert-dunes-rocks-and-more .bptitleholder, #sub-deserts-whats-a-desert-have-deserts-always-been-dry .bptitleholder, #sub-deserts-whats-a-desert-why-do-we-have-deserts .bptitleholder{
	width: 627px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 170px;
	left: 194px;
}

/* Custom Header Div Design */
#sub-Deserts-fossil-puzzles .bptitleholder{
	width: 490px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 170px;
	left: 347px;
}

/* Common Header Design h1 */
#sub-deserts .bptitleholder h1,#sub-deserts-gold-and-power .bptitleholder h1,#sub-deserts-life-in-the-desert .bptitleholder h1,#sub-deserts-whats-a-desert .bptitleholder h1, #sub-deserts-the-future-of-deserts .bptitleholder h1,#sub-deserts-gold-and-power-fossil-fuels .bptitleholder h1,#sub-deserts-gold-and-power-rocks-and-solar .bptitleholder h1,#sub-deserts-gold-and-power-mineral-riches .bptitleholder h1,#sub-deserts-life-in-the-desert-camels-cacti-and-critters .bptitleholder h1,#sub-deserts-life-in-the-desert-camels-cacti-and-critters-escaping-the-heat .bptitleholder h1, #sub-deserts-life-in-the-desert-camels-cacti-and-critters-water-miners .bptitleholder h1, #sub-deserts-life-in-the-desert-camels-cacti-and-critters-water-storers .bptitleholder h1, #sub-deserts-life-in-the-desert-camels-cacti-and-critters-water-little-or-none .bptitleholder h1, #sub-deserts-life-in-the-desert-desert-cities .bptitleholder h1, #sub-deserts-life-in-the-desert-nomadic-life .bptitleholder h1,#sub-deserts-life-in-the-desert-precious-water .bptitleholder h1, #sub-deserts-the-future-of-deserts-deserts-on-other-worlds .bptitleholder h1, #sub-deserts-the-future-of-deserts-safeguarding-our-deserts .bptitleholder h1, #sub-deserts-whats-a-desert-dunes-rocks-and-more .bptitleholder h1, #sub-deserts-whats-a-desert-have-deserts-always-been-dry .bptitleholder h1, #sub-deserts-whats-a-desert-why-do-we-have-deserts .bptitleholder h1{
	text-transform: uppercase;
	color: #FFFFFF !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

/* Custom Page Header Design h1 */
#sub-deserts-fossil-puzzles .bptitleholder h1{
	text-transform: uppercase;
	color: #000000 !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;	
}

.bpcontentDeserts{
	color: #000000;
    font-family: "comic sans ms";
    font-size: 18px;
    font-weight: normal;
    height: 356px;
    left: 550px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 266px;
    width: 413px;
}

.navDeserts-content3{
  position:absolute;
  left:59px;
  top:263px;
  width:920px;
  height:160px;
  overflow-y:scroll;
  text-align:left;
  font-family:"comic sans ms";
  font-size:18px;
  font-weight:normal;
  color:#000000;
}
.navevolutionandnaturalselectionbtn1{
	position: absolute;
	left: 134px;
}
.navevolutionandnaturalselectionbtn2{
	position: absolute;
	left: 394px;
}
.navevolutionandnaturalselectionbtn3{
	position: absolute;
	left: 657px;
}

/* Custom content */
.navDeserts-fossilpuzzles{
	position: absolute;
	left: 640px;
	top: 131px;
	width: 325px;
	height: 379px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

.navDeserts-polarplantsofpangaea{
	position: absolute;
	left: 582px;
	top: 171px;
	width: 325px;
	height: 460px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}
.navDeserts-geology{
	position: absolute;
	left: 25px;
	top: 55px;
	width: 694px;
	height: 460px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

.navDeserts-throughthelens{
	position: absolute;
	left: 470px;
	top: 124px;
	width: 472px;
	height: 522px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}